.vscode/
build/
output/
seeds/
input_samples/
*.gch
*.o
*.so
*.a
*.dSYM
*.disabled
*.log
*.pyc
*.cfg
openplc
/openplc_instrumented
*.original
*.txt
!**/CMakeLists.txt
!benchmarks/replay/*.txt
findings/
findings_back/
observations/
plclogic/
image/
